body{
font-family: Georgia, 'Times New Roman', Times, serif;    
background-color: black; 
text-decoration: none;   
}


.wit{
color:white    
}

.wit#bus{
    color:white;
    text-align: center;
    margin-left: 150px;
    }


.titel{
color:white;
text-align: center; 
}