body{
font-family: Georgia, 'Times New Roman', Times, serif;    
background-color: black; 
  
}

a{
text-decoration: none;
color: white;
}

a#links{
    text-decoration: none;
    color: white;
    }

.wit{
color:white    
}

.wit#bus{
    color:white;
    text-align: center;
    margin-left: 150px;
    }


.titel{
color:white;
text-align: center; 
}