body{
font-family: Georgia, 'Times New Roman', Times, serif;    
background-color: black;    
}


.wit{
color:white    
}

.wit#bus{
    color:white;
    text-align: left;    
    }


.titel{
color:white;
text-align: center; 
}